In [3]:
import pandas as pd

Data loading, Storage, and File Formats

In [4]:
df = pd.read_csv('../data/dataset-uci.csv')

df.head()

,Gallstone Status,Age,Gender,Comorbidity,Coronary Artery Disease (CAD),Hypothyroidism,Hyperlipidemia,Diabetes Mellitus (DM),Height,Weight,...,High Density Lipoprotein (HDL),Triglyceride,Aspartat Aminotransferaz (AST),Alanin Aminotransferaz (ALT),Alkaline Phosphatase (ALP),Creatinine,Glomerular Filtration Rate (GFR),C-Reactive Protein (CRP),Hemoglobin (HGB),Vitamin D
0,0,50,0,0,0,0,0,0,185,92.8,...,40.0,134.0,20.0,22.0,87.0,0.82,112.47,0.0,16.0,33.0
1,0,47,0,1,0,0,0,0,176,94.5,...,43.0,103.0,14.0,13.0,46.0,0.87,107.10,0.0,14.4,25.0
2,0,61,0,0,0,0,0,0,171,91.1,...,43.0,69.0,18.0,14.0,66.0,1.25,65.51,0.0,16.2,30.2
3,0,41,0,0,0,0,0,0,168,67.7,...,59.0,53.0,20.0,12.0,34.0,1.02,94.10,0.0,15.4,35.4
4,0,42,0,0,0,0,0,0,178,89.6,...,30.0,326.0,27.0,54.0,71.0,0.82,112.47,0.0,16.8,40.6

Data Wrangling: Clean, Transform, Merge, Reshape

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 39 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Gallstone Status                                319 non-null    int64
 1   Age                                             319 non-null    int64
 2   Gender                                          319 non-null    int64
 3   Comorbidity                                     319 non-null    int64
 4   Coronary Artery Disease (CAD)                   319 non-null    int64
 5   Hypothyroidism                                  319 non-null    int64
 6   Hyperlipidemia                                  319 non-null    int64
 7   Diabetes Mellitus (DM)                          319 non-null    int64
 8   Height                                          319 non-null    int64
 9   Weight                                          319 non-null    float64
 10  Body Mass Index (BMI)                           319 non-null    float64
 11  Total Body Water (TBW)                          319 non-null    float64
 12  Extracellular Water (ECW)                       319 non-null    float64
 13  Intracellular Water (ICW)                       319 non-null    float64
 14  Extracellular Fluid/Total Body Water (ECF/TBW)  319 non-null    float64
 15  Total Body Fat Ratio (TBFR) (%)                 319 non-null    float64
 16  Lean Mass (LM) (%)                              319 non-null    float64
 17  Body Protein Content (Protein) (%)              319 non-null    float64
 18  Visceral Fat Rating (VFR)                       319 non-null    int64
 19  Bone Mass (BM)                                  319 non-null    float64
 20  Muscle Mass (MM)                                319 non-null    float64
 21  Obesity (%)                                     319 non-null    float64
 22  Total Fat Content (TFC)                         319 non-null    float64
 23  Visceral Fat Area (VFA)                         319 non-null    float64
 24  Visceral Muscle Area (VMA) (Kg)                 319 non-null    float64
 25  Hepatic Fat Accumulation (HFA)                  319 non-null    int64
 26  Glucose                                         319 non-null    float64
 27  Total Cholesterol (TC)                          319 non-null    float64
 28  Low Density Lipoprotein (LDL)                   319 non-null    float64
 29  High Density Lipoprotein (HDL)                  319 non-null    float64
 30  Triglyceride                                    319 non-null    float64
 31  Aspartat Aminotransferaz (AST)                  319 non-null    float64
 32  Alanin Aminotransferaz (ALT)                    319 non-null    float64
 33  Alkaline Phosphatase (ALP)                      319 non-null    float64
 34  Creatinine                                      319 non-null    float64
 35  Glomerular Filtration Rate (GFR)                319 non-null    float64
 36  C-Reactive Protein (CRP)                        319 non-null    float64
 37  Hemoglobin (HGB)                                319 non-null    float64
 38  Vitamin D                                       319 non-null    float64
dtypes: float64(28), int64(11)
memory usage: 97.3 KB

In [5]:
df.isnull().sum()

Gallstone Status                                  0
Age                                               0
Gender                                            0
Comorbidity                                       0
Coronary Artery Disease (CAD)                     0
Hypothyroidism                                    0
Hyperlipidemia                                    0
Diabetes Mellitus (DM)                            0
Height                                            0
Weight                                            0
Body Mass Index (BMI)                             0
Total Body Water (TBW)                            0
Extracellular Water (ECW)                         0
Intracellular Water (ICW)                         0
Extracellular Fluid/Total Body Water (ECF/TBW)    0
Total Body Fat Ratio (TBFR) (%)                   0
Lean Mass (LM) (%)                                0
Body Protein Content (Protein) (%)                0
Visceral Fat Rating (VFR)                         0
Bone Mass (BM)                                    0
Muscle Mass (MM)                                  0
Obesity (%)                                       0
Total Fat Content (TFC)                           0
Visceral Fat Area (VFA)                           0
Visceral Muscle Area (VMA) (Kg)                   0
Hepatic Fat Accumulation (HFA)                    0
Glucose                                           0
Total Cholesterol (TC)                            0
Low Density Lipoprotein (LDL)                     0
High Density Lipoprotein (HDL)                    0
Triglyceride                                      0
Aspartat Aminotransferaz (AST)                    0
Alanin Aminotransferaz (ALT)                      0
Alkaline Phosphatase (ALP)                        0
Creatinine                                        0
Glomerular Filtration Rate (GFR)                  0
C-Reactive Protein (CRP)                          0
Hemoglobin (HGB)                                  0
Vitamin D                                         0
dtype: int64

In [9]:
df.describe()

,Gallstone Status,Age,Gender,Comorbidity,Coronary Artery Disease (CAD),Hypothyroidism,Hyperlipidemia,Diabetes Mellitus (DM),Height,Weight,...,High Density Lipoprotein (HDL),Triglyceride,Aspartat Aminotransferaz (AST),Alanin Aminotransferaz (ALT),Alkaline Phosphatase (ALP),Creatinine,Glomerular Filtration Rate (GFR),C-Reactive Protein (CRP),Hemoglobin (HGB),Vitamin D
count,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.00000,319.000000,...,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000,319.000000
mean,0.495298,48.068966,0.492163,0.335423,0.037618,0.028213,0.025078,0.134796,167.15674,80.564890,...,49.475549,144.502163,21.684953,26.855799,73.112539,0.800611,100.818903,1.853856,14.418182,21.401411
std,0.500763,12.114558,0.500724,0.517340,0.190568,0.165841,0.156609,0.342042,10.05303,15.709069,...,17.718701,97.904493,16.697605,27.884413,24.181069,0.176433,16.971396,4.989591,1.775815,9.981659
min,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,145.00000,42.900000,...,25.000000,1.390000,8.000000,3.000000,7.000000,0.460000,10.600000,0.000000,8.500000,3.500000
25%,0.000000,38.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,159.50000,69.600000,...,40.000000,83.000000,15.000000,14.250000,58.000000,0.650000,94.170000,0.000000,13.300000,13.250000
50%,0.000000,49.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,168.00000,78.800000,...,46.500000,119.000000,18.000000,19.000000,71.000000,0.790000,104.000000,0.215000,14.400000,22.000000
75%,1.000000,56.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,175.00000,91.250000,...,56.000000,172.000000,23.000000,30.000000,86.000000,0.920000,110.745000,1.615000,15.700000,28.060000
max,1.000000,96.000000,1.000000,3.000000,1.000000,1.000000,1.000000,1.000000,191.00000,143.500000,...,273.000000,838.000000,195.000000,372.000000,197.000000,1.460000,132.000000,43.400000,18.800000,53.100000